<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./image/weather.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #about{
            background-color: rgb(229, 158, 66);
            color:  rgba(248,248,255,0.8);
            padding: 8px;
            border-radius: 5px 5px 5px 5px;
        }
    </style>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p id="about-page">
            This is the Weather Info API which is created by me.
            <br>I used HTML,CSS,JAVASCRIPT,NodeJs and little bit of Express to develop it.<br>
        </p>
        {{>footer}}
    </div>
</body>
</html>