
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 500px;
    margin: 0 auto ;
    padding: 0px;
    text-align: center;
    border: none;
}

.main-content{
    flex-grow: 1;
    background-image: url('weather.jpg');/*   */
    background-size: cover;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.foot{
    margin-top: 300px; 
    margin-bottom: 30px;
    color:  rgba(248,248,255,0.8);
    text-shadow: 5px 5px 10px  rgba(248,248,255,1);
}

header{
    margin-top: -20px;
    margin-bottom: 48px;
}

h1{
    color: rgba(248,248,255,0.8);
    text-shadow: 5px 5px 10px rgba(248,248,255,0.8);
    font-size: 64px;
    margin-bottom: 40px;
}

header a{
    color: rgba(248,248,255,0.8);
    margin-right: 16px;
    text-decoration: none;
    border: none;
    outline: none;
    transition: .5s;
}
header a:hover{
    background-color: rgb(229, 158, 66);
    color:  rgba(248,248,255,0.8);
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
}
/*  */
input{
    position: relative;
    font-size: 18px;
    transition: .5s;
    box-sizing: border-box;
}
input[type="text"]{
    background: #fff;
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
button{
    position: relative;
    border-radius: 0 25px 25px 0;
    height: 40px;
    transition: .5s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
    outline: none;
    border: none;
    background: #ffc107;
    left: -5px;
    width: 100px;
}
button:hover{
    color: white;
    background: #23f523;
    outline: none;
    border: none;
}
#message-1{
    margin-top: 50px;
    margin-bottom: -18px;
}
#message-1,#message-2{
    background: rgba(240,248,255,0.3);
    /* color: ; */
    text-shadow: 5px 5px 10px black;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
